body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.sidebar {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar ul {
  margin-top: 1.2rem;
}

.sidebar li {
  letter-spacing: 0.1rem;
  font-weight: 300;
  margin-top: 0.3rem;
  font-size: 17px;
}
.sidebar li > a {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.sidebar i {
  font-size: 2rem;
}
.hide {
  display: none !important;
}

.sidebar .nav-link.active {
  background-color: #b98b73 !important;
}

.sidebar .nav-pills .nav-link {
  border-radius: 0.1rem;
}
